*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url(..//imagens1/campo-grande-ms-brazil-07apr2023-600nw-2463753199.webp); */
}

.login{
    background-color:transparent;
    background-image: url(..//imagens1/campo-grande-ms-brazil-07apr2023-600nw-2463753199.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    margin-bottom: opx;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.area-login{
    width: 90%;
    height: 75%;
    background-color:transparent;
    backdrop-filter: blur(40px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    animation: animeBox 3s infinite;
    margin-top: 10%;
}

.card{
    width: 400px;
    height: 500px;
    background-color: rgb(240, 234, 226);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}

.form-login{
    width: 90%;
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.group{
    position: relative;
}

.form-login .group label{
    font-size: 16px;
    color: rgba(0,0,0,0.2);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all 0.3 ease;
}

.form-login .group input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.form-login .group input:placeholder-shown+label{
    top: 10px;
    background-color: transparent;
}

.form-login .group input:focus{
    border-color:brown;
}

.form-login .group input:focus+label{
    top: -10px;
    left: 10px;
    background-color: rgb(243, 222, 194);
    color: brown;
    font-weight: 600;
    font-size: 16px;
    /* padding: 2px; */

}

.form-login button{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: brown;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px auto;
}


.form-box .input-group button:hover{
    background-color: rgb(160, 174, 174);
}
.img-form-login{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.img-form-login img{
    height: 100%;
}

@keyframes animeBox{
    0%{
        box-shadow: none;
    }
    50%{ 
        box-shadow: 5px 5px 20px 5px aliceblue;
    }
    100%{
        box-shadow: none;
    }
}

.img-login{
    width: 400px;
    height: 500px;
    display: flex;
    border-radius: 10px;
}

.img-login img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.area-linhas{
    height: 100%;
    width: 20px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.linha1{
    background-color:aliceblue;
    height: 40%;
    width: 5px;
    border-color:aliceblue;
    border-radius: 0 0px 5px 5px;
}

.linha2{
    background-color:aliceblue;
    height: 40%;
    width: 5px;
    border-color:aliceblue;
    border-radius: 5px 5px 0 0px ;
}

.setinhas{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-evenly;
}

.seta{
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
    transform: rotate(90deg);
}